<div class="row">
    <div class="col-md-4">
        <h4>Launch Mininet</h4>
        <a href="" class="btn btn-default">Launch</a>
    </div>

    <div class="col-md-4">
        <h4>Read settings from Ryu</h4>
    </div>

    <div class="col-md-4">
        <h4>Send settings to Ryu</h4>
    </div>

</div>