<div class="row">
    <div class="col-md-12">
        <h4>1. Launch Open Flow Controller Rest Server</h4>
        <pre>ryu-manager ./vendor/ryu/ryu/app/ofctl_rest.py</pre>

        <h4>2. Launch Mininet</h4>
        <pre>sudo mn --topo=tree,1,3 --mac --controller=remote --switch ovsk,protocols=OpenFlow13</pre>
    </div>
</div>