<div class="row">
    <div class="col-md-12">
        <h2>Retrieve the switch stats</h2>
        <p>Implemented:</p>
        <ul>
            <li>Get all switches</li>
            <li>Get the desc stats</li>
            <li>Get all flows stats</li>
        </ul>
        <p>Not yet implemented:</p>
        <ul>
            <li>Get flows stats filtered by fields</li>
            <li>Get aggregate flow stats</li>
            <li>Get aggregate flow stats filtered by fields</li>
            <li>Get ports stats</li>
            <li>Get ports description</li>
            <li>Get queues stats</li>
            <li>Get groups stats</li>
            <li>Get group description stats</li>
            <li>Get group features stats</li>
            <li>Get meters stats</li>
            <li>Get meter config stats</li>
            <li>Get meter features stats</li>
        </ul>
    </div>
</div>